/* variables */
:root {
  --main-bg-color: #efefef;
  --nav-bg-color: #1876f2;
  --online-bg-color: #41db51;
  --sidebar-bg-color: #fff;
  --link-color1: #000;
  --link-color2: #0a6ff1;
  --heading-color: #333;
  --text-color: #626262;
  --box-shadow: rgba(0, 0, 0, 0.1);
}

/* utilities */
.container {
  width: 95%;
  margin: 0 auto;
  padding: 0.5rem 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  background: var(--online-bg-color);
}
